* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #09090B;
  overflow-x: hidden;
}

.register-page {
  height: 100vh;
  width: 100%;
  background: #09090B;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;

  padding: 50px;
}

/* LEFT SIDE */
.register-left {
  max-width: 450px;
}

.brand {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.register-left h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
  color: white;
}

.register-left p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.6;
}

/* RIGHT SIDE */
.register-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* REGISTER CARD */
.register-card {
  width: 520px;
  border-radius: 20px;
  padding: 35px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
  color: white;
}

/* FORM */
.register-card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-card label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
}

/* INPUT */
.register-card input {
  padding: 14px;
  border-radius: 10px;

  background: transparent;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 14px;

  transition: 0.3s ease;
}

.register-card input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.register-card input:focus {
  outline: none;
  border: 1px solid rgba(124, 58, 237, 0.8);
  box-shadow: 0px 0px 12px rgba(124, 58, 237, 0.4);
}

/* Register Button Hover like nav-btn */
.register-btn {
  margin-top: 20px;
  padding: 12px 28px;
  border-radius: 999px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

  background: transparent;
  border: 1px solid transparent;

  transition: 0.3s ease;
  width: 150px;
  align-self: flex-end;
}

.register-btn:hover {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.6);
  transform: translateY(-2px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .register-page {
    flex-direction: column;
    gap: 50px;
    padding: 20px;
  }

  .register-card {
    width: 100%;
    max-width: 420px;
  }

  .register-left h1 {
    font-size: 38px;
  }
}
